<div id="project-detail">
    <h1>{{ title }}</h1>
    <p style="color: #888; margin-bottom: 2rem;">{{ subtitle }}</p>

    <div class="project-body">
        {{ content }}
    </div>

    {{ if links }}
    <div style="margin-top: 2rem; border-top: 1px solid #333; padding-top: 1rem;">
        {{ for link of links }}
        <a href="{{ link.url }}" target="_blank">
            {{ link.text }} &rarr;
        </a>
        {{ /for }}
    </div>
    {{ /if }}
</div>